@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-loading {
  background-image: url('/portfolio/img/background-thumb.jpg');
}

body {
  @apply min-h-screen;
  background-attachment: fixed;
  color: var(--foreground);
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.bg-layer.loaded {
  opacity: 1;
}

.bg-placeholder {
  background-image: url('/portfolio/img/background-thumb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
